.introPart {
  display: flex;
  justify-content: center;
  margin: 20px 20px 100px 20px;
  position: relative;
}
.introText {
  /* margin: auto; */
  transform: translateY(50%) translateX(-20%);
}
.intro__attentiontext {
  font-size: calc(1.8em + 1.2vw);
  font-weight: 600;
}

.intro__name {
  color: var(--ifm-color-primary);
}

.imgContainer {
  position: relative;
  transform: translateX(20%);
}

.bgImg {
  width: 542px;
}

.cssImg {
  position: absolute;
  left: 30px;
  width: 122px;
  left: -40px;
  top: 110px;
  animation: drift 2s linear infinite;
}

.htmlImg {
  position: absolute;
  width: 121px;
  bottom: -60px;
  right: 60px;
}

.gearImg {
  position: absolute;
  width: 71px;
  height: 71px;
  top: 142px;
  right: 215px;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes drift {
  25% {
    transform: translateY(-10px);
  }
  50%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}

.social__links {
  width: 100%;
  display: flex;
  max-width: 210px;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0 2.5em 0;
  z-index: 100;
  position: relative;
  margin: auto;
}
.social__links > *,
.social__links svg,
.social__links svg path {
  width: 24px;
  height: 24px;
  color: var(--ifm-color-primary);
  fill: var(--ifm-color-primary);
}
